:root{
  --header-color:#0d0d0d;
  --text-task-completed:#808080;
  --text-task-completed-secondary:#8284fa;
  --task-color-primary:#262626;
  --task-color-secondary:#333333;
  --button-color-primary:#1e6f9f;
  --skyBlue-color:#4ea8de;
  --white-color:#fff;
  --red-color:#ff0000
 }